.DS_Store
CV .pdf
IMG_1398.jpeg
assets/F0A2A452-BF85-4DFF-8711-B54FE06FBF0F.PNG
assets/photography/*
!assets/photography/.gitkeep
assets/watch/*
!assets/watch/.gitkeep
!assets/watch/watch-preview.jpg
assets/keyboard/*
!assets/keyboard/keyboard-01.jpg
!assets/keyboard/keyboard-02.jpg
